* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    section {
        flex-grow: 1;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: all 0.7s linear;
        cursor: pointer;

        &:hover {
            flex-grow: 2.5;
            filter: brightness(1.1);
        }

        &:nth-child(1) {
            background-image: url('https://i.pinimg.com/736x/7a/24/93/7a2493cedd63ac7e7b19cb63d8473afc.jpg');
        }

        &:nth-child(2) {
            background-image: url('https://i.pinimg.com/736x/66/79/d5/6679d5adf7d63b1fccbe10a7cf150478.jpg');
        }

        &:nth-child(3) {
            background-image: url('https://i.pinimg.com/736x/ce/b7/3e/ceb73e29b044af544817fa875f272444.jpg');
        }

        &:nth-child(4) {
            background-image: url('https://i.pinimg.com/736x/fe/ef/92/feef926836fbc7130733bf83f74ac26f.jpg');
        }

        &:nth-child(5) {
            background-image: url('https://i.pinimg.com/736x/33/c4/f1/33c4f1e78d29098a2a46ff6fa4827f38.jpg');
        }
    }
}